body {

    background-color: #A799B7;

}

header {

    border: 3px solid #613F75;
    height: auto;
    text-align: center;

}

.songDisplay {

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 3px dashed black; */
    /* padding: 4px; */
}

.songInformation {

    border: 3px solid pink;
    padding: 4px;
    

}

.songInformation label {

    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    /* align-content: center; */
    /* vertical-align: middle; */

}

.songInformation h4 {

    text-align: right;
    /* padding-right: 10px; */

}

.songInformation p {

    font-weight: lighter;
    padding-left: 10px;
    position: relative;
    top: 8%;

}

.embed {

    border: 3px solid #1DB954;
    padding: 4px;


}


.wrapper {
    
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}